<main id="catalog">
    <section class="game-market">
        <h1>Game Trade Code</h1>
        <div class="offer-list">
            <div class="game">
                <div class="game-img">
                    <img src="/static/images/mortal-kombat.png">
                </div>
                <div class="game-info">
                    <h1>Mortal Kombat 11</h1>
                    <p><span>Platform: </span>PC</p>
                    <p><span>Genre: </span>Action</p>
                    <p><span>Price: </span>$78</p>
                </div>

                <a href="/details/1" class="btn-details">Details</a>
            </div>
        </div>
        <!-- <div class="no-offer">
                <p>There are no game offers found!</p>
            </div> -->
    </section>
</main>