<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="/static/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' />
  <script>
    /*to prevent Firefox FOUC, this must be here*/
    let FF_FOUC_FIX;
  </script>
</head>

<body>

  {{{body}}}
  
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>

</html>